body {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    background-color: slategray;
}

.main {
    width: 800px;
    height: 800px;
    margin-left: calc(50% - 400px);
    background-color: white;
    padding: 20px;

}

.header-line {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.header-line h1 {
    text-transform: uppercase;
    margin: 0;
    padding-right: 10px;
    white-space: nowrap;
}

.header-line hr {
    flex-grow: 1;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 0;
}

table {
    border-collapse: collapse;
    width: 100%;
    background-color: white;
}

th, td {
    border: none;
    padding: 10px;
    text-align: center;
    width: 15%;
}

th {
    display: flexbox;
    justify-content:space-between;
    text-transform: uppercase;
    color: lightgray;
    font-weight: bold;
}

TT1 {
    text-align: left;
    width: 25%;
}


tbody tr:nth-child(even):not(:first-child) {
    background-color: #f2f2f2;
}

.btn {
    display: inline-block;
    padding: 0;
    border: 2px solid transparent;
    cursor: pointer;
    background-color: #7197FA;
    color: white;
    border-radius: 3px;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    line-height: 20px;
    text-align: center;
    user-select: none;
}

.btn:hover {
    background-color: white;
    color: #7197FA;
    border-color: #7197FA;
}

.btn:active {
    background-color: #5a7bbf;
    border-color: #5a7bbf;
    color: greenyellow;
}

.btn.L-btn {
    height: 48px;
    padding: 14px 20px;
    font-size: 16px;   
}

.btn.M-btn {
    height: 36px;
    padding: 8px 12px;
    font-size: 14px;
}

.btn.S-btn { 
    height: 28px;
    padding: 4px 8px;
    font-size: 12px;

}

.btn.XS-btn {
    height: 20px;
    padding: 0px 6px;
    font-size: 10px;
}